<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js ie lt9 lt8 ie7"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie lt9 ie8"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="format-detection" content="telephone=no"> <!-- Disable iOS auto telephone number detection -->
        <title>{% if title %}{{title}} | {% endif %}Website Title</title>
        <link rel="stylesheet" href="http://brick.a.ssl.fastly.net/Roboto:300,400,700,400i,700i">
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <script src="js/external/modernizr.min.js"></script>
    </head>
    <body>
        <header class="site-header">
            <div class="wrapper">
                Header here.
            </div>
        </header>

        <main class="site-main">
            {% block content %}{% endblock %}
        </main>

        <footer class="site-footer">
            <div class="wrapper">
                Footer here.
            </div>
        </footer>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/external/jquery-1.11.1.min.js"><\/script>')</script>
        <script src="js/homebrew.min.js"></script>
        <script src="js/main.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>