/*-----------------------------------------------------------------------------
    Homebrew Tooltips
-----------------------------------------------------------------------------*/

.tooltip-el {
    border-bottom: 1px dotted;
    cursor: help;
}

.tooltip {
    max-width: 400px;
    margin-top: -5px;
    padding: 10px 15px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    clip: auto;
    z-index: 10;
    background: rgba(26, 26, 26, 0.9);
    color: #eee;
    font-size: 0.85rem;
    opacity: 0;
    transform: translateY(10px);

    &.can-transition {
        transition: none 0.4s $easeOutExpo;
        transition-property: opacity, transform;
    }

    &.is-active {
        opacity: 1;
        transform: translateY(0px);
    }

    &.is-transitioning-out {
        opacity: 0;
        transform: translateY(-10px);
    }
}

/* $arrow-size: 5px; */
.tooltip-arrow {
    border: 5px solid transparent;  /* border: {$arrow-size} solid transparent; */
    border-top-color: #1a1a1a;
    border-bottom: 0;
    margin-left: -5px;              /* margin-left: -{$arrow-size}; */
    position: absolute;
    bottom: -5px;                   /* bottom: -{$arrow-size}; */
    left: 50%;
}