/*-----------------------------------------------------------------------------
    Homebrew Validations
-----------------------------------------------------------------------------*/

.is-valid.is-valid,
.is-valid + .dropdownify .dropdownify__btn {
    border-color: #2ecc71;
    color: #00993e;
}
.is-valid.is-valid:hover,
.is-valid.is-valid:focus,
.is-valid:hover + .dropdownify .dropdownify__btn,
.is-valid:focus + .dropdownify .dropdownify__btn {
    border-color: #00993e;
}

.is-invalid.is-invalid,
.is-invalid + .dropdownify .dropdownify__btn {
    border-color: #f90;
    color: #c60;
}
.is-invalid.is-invalid:hover,
.is-invalid.is-invalid:focus,
.is-invalid:hover + .dropdownify .dropdownify__btn,
.is-invalid:focus + .dropdownify .dropdownify__btn {
    border-color: #c60;
}