//=============================================================================
//  Variables
//=============================================================================
//
//  $ General
//      $ Easings
//      $ Transitions
//
//  $ Shared
//      $ Colors
//      $ Fonts
//      $ Media
//
//  $ Utilities
//      $ Fonts
//      $ Spacings
//      $ Widths
//
//=============================================================================

//=============================================================================
//  $ General
//-----------------------------------------------------------------------------
//  These variables are for use directly in other SCSS files, through an
//  optional convenience mixin/function.
//=============================================================================
//  General - $ Easings
//-----------------------------------------------------------------------------
//  Easings are from http://easings.net/
//=============================================================================

$easings: (
    out-expo: cubic-bezier(0.19, 1, 0.22, 1),
    out-quart: cubic-bezier(0.165, 0.84, 0.44, 1),
    out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94),

    in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22),
    in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53),
);

//=============================================================================
//  General - $ Transitions
//=============================================================================

$transition-duration: 0.4s;
$transition-easing: easing(out-expo);

//=============================================================================
//  $ Shared
//-----------------------------------------------------------------------------
//  These variables are used for two purposes:
//      1. Used directly in other SCSS files, through an optional convenience
//         mixin/function.
//      2. Used for utility class generation.
//=============================================================================
//  Shared - $ Colors
//=============================================================================

$colors: (
    black: #333,
        light-black: #999,
    white: #fff,
        dark-white: #f2f2f2,
);

//=============================================================================
//  Shared - $ Fonts
//=============================================================================

$font-families: (
    base: ('Helvetica Neue', 'Helvetica', 'Arial', sans-serif),
    alpha: ('Georgia', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif),
);

$font-sizes: (
    '\\.7':  10,
    '\\.8':  12,
    '\\.9':  14,
    '1':     16,
    '2':     20,
    '3':     24,
    '4':     28,
    '5':     32,
    '6':     36,
    '7':     40,
    '8':     44,
    '9':     48,
    '10':    52,
);

//=============================================================================
//  Shared - $ Media
//=============================================================================

$media-sizes: (
    'xs': 480, // Extra small
    'sm': 640, // Small
    'md': 800, // Medium
    'lg': 1024, // Large
    //'xl': 1280, // Extra large
    // 'ul': 1540, // Ultra large
    // 'full': 1920, // Full
);

$media-queries: ();

@each $base-size, $base-width in $media-sizes {
    // Create SIZE-up and SIZE-dn ranges.
    $media-queries: map-merge(
        $media-queries,
        (
            #{$base-size}-dn: '(max-width: #{px($base-width)})',
            #{$base-size}-up: '(min-width: #{px($base-width + 1)})'
        )
    );

    // Create SIZE1-SIZE2 ranges, where SIZE1 is smaller than SIZE2.
    @each $other-size, $other-width in $media-sizes {
        @if $base-size != $other-size {
            @if $base-width < $other-width {
                $media-queries: map-merge(
                    $media-queries,
                    (
                        #{$base-size}-#{$other-size}: '(min-width: #{px($base-width + 1)}) and (max-width: #{px($other-width)})'
                    )
                );
            }
        }
    }
}

// Uncomment the line below to see exactly what ranges are available.
//@debug map-keys($media-queries);

//=============================================================================
//  $ Utilities
//-----------------------------------------------------------------------------
//  These variables are used for utility class generation.
//=============================================================================
//  Utilities - $ Fonts
//=============================================================================

$font-sizes-em: (
    '\\.8em': 0.8,
    '\\.9em': 0.9,
    '1em': 1,
    '1\\.25em': 1.25,
    '1\\.5em': 1.5,
    '1\\.75em': 1.75,
    '2em': 2,
);

$font-weights: (
    100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900,
);

//=============================================================================
//  Utilities - $ Spacings
//=============================================================================

$spacings: (
    '0':      0,
    '\\.8':   5,
    '\\.9':  10,
    '1':     15,
    '2':     30,
    '3':     45,
    '4':     60,
    '5':     75,
    '6':     90,
);

//=============================================================================
//  Utilities - $ Widths
//=============================================================================

$widths: (
    '1of12':  (100 / 12 * 1),
    '2of12':  (100 / 12 * 2),
    '3of12':  (100 / 12 * 3),
    '4of12':  (100 / 12 * 4),
    '5of12':  (100 / 12 * 5),
    '6of12':  (100 / 12 * 6),
    '7of12':  (100 / 12 * 7),
    '8of12':  (100 / 12 * 8),
    '9of12':  (100 / 12 * 9),
    '10of12': (100 / 12 * 10),
    '11of12': (100 / 12 * 11),
    '12of12': (100 / 12 * 12),
);