/*-----------------------------------------------------------------------------
    Main - Header
-----------------------------------------------------------------------------*/

.site-header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $black;
    color: #fff;
}