/*-----------------------------------------------------------------------------
    General Variables
-------------------------------------------------------------------------------

    $ Colors
    $ Easings
    $ Fonts
    $ General

-----------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------
    $ Colors
-----------------------------------------------------------------------------*/

$blue:   #06c;
$black:  #333;





/*-----------------------------------------------------------------------------
    $ Easings
/*-----------------------------------------------------------------------------
    Easings are from http://easings.net/
-----------------------------------------------------------------------------*/

$easeOutExpo:  cubic-bezier(0.19, 1, 0.22, 1);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutQuad:  cubic-bezier(0.25, 0.46, 0.45, 0.94);

$easeInQuart:  cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeInQuad:   cubic-bezier(0.55, 0.085, 0.68, 0.53);





/*-----------------------------------------------------------------------------
    $ Fonts
-----------------------------------------------------------------------------*/

$font-family-base:   'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-alpha:  'Georgia', #{$font-family-base};





/*-----------------------------------------------------------------------------
    $ General
-----------------------------------------------------------------------------*/

$transition-duration: 0.4s;
$transition-easing: $easeOutExpo;