/*-----------------------------------------------------------------------------
    EDM Name
-----------------------------------------------------------------------------*/

body {
    margin: 0;
}

.sample {
    width: 600px;
    margin: 0 auto;
}