/*-----------------------------------------------------------------------------
    Grid Reference
-------------------------------------------------------------------------------
    These are the grid styles that are used by Foundation.

    They are included here in case we need a reference to an existing, rich
    and robust grid system.
-----------------------------------------------------------------------------*/

.row {
    margin-left: -5px;
    margin-right: -5px;
}
.row.collapse {
    margin-left: 0;
    margin-right: 0;
}
    .row:before,
    .row:after {
        content: " ";
        display: table;
    }
    .row:after {
        clear: both;
    }

    .column {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        float: left;
    }
    .column.end {
        float: right;
    }
    .row.collapse .column {
        padding-left: 0;
        padding-right: 0;
    }

.column.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}


.grid-1-of-12  { width: 8.33333%;  }
.grid-2-of-12  { width: 16.66667%; }
.grid-3-of-12  { width: 25%;       }
.grid-4-of-12  { width: 33.33333%; }
.grid-5-of-12  { width: 41.66667%; }
.grid-6-of-12  { width: 50%;       }
.grid-7-of-12  { width: 58.33333%; }
.grid-8-of-12  { width: 66.66667%; }
.grid-9-of-12  { width: 75%;       }
.grid-10-of-12 { width: 83.33333%; }
.grid-11-of-12 { width: 91.66667%; }
.grid-12-of-12 { width: 100%;      }

.push-0-of-12  { left:  0%;        right: auto; }
.push-1-of-12  { left:  8.33333%;  right: auto; }
.push-2-of-12  { left:  16.66667%; right: auto; }
.push-3-of-12  { left:  25%;       right: auto; }
.push-4-of-12  { left:  33.33333%; right: auto; }
.push-5-of-12  { left:  41.66667%; right: auto; }
.push-6-of-12  { left:  50%;       right: auto; }
.push-7-of-12  { left:  58.33333%; right: auto; }
.push-8-of-12  { left:  66.66667%; right: auto; }
.push-9-of-12  { left:  75%;       right: auto; }
.push-10-of-12 { left:  83.33333%; right: auto; }
.push-11-of-12 { left:  91.66667%; right: auto; }

.pull-0-of-12  { right: 0%;        left: auto; }
.pull-1-of-12  { right: 8.33333%;  left: auto; }
.pull-2-of-12  { right: 16.66667%; left: auto; }
.pull-3-of-12  { right: 25%;       left: auto; }
.pull-4-of-12  { right: 33.33333%; left: auto; }
.pull-5-of-12  { right: 41.66667%; left: auto; }
.pull-6-of-12  { right: 50%;       left: auto; }
.pull-7-of-12  { right: 58.33333%; left: auto; }
.pull-8-of-12  { right: 66.66667%; left: auto; }
.pull-9-of-12  { right: 75%;       left: auto; }
.pull-10-of-12 { right: 83.33333%; left: auto; }
.pull-11-of-12 { right: 91.66667%; left: auto; }

.offset-1-of-12  { margin-left: 8.33333%;  }
.offset-2-of-12  { margin-left: 16.66667%; }
.offset-3-of-12  { margin-left: 25%;       }
.offset-4-of-12  { margin-left: 33.33333%; }
.offset-5-of-12  { margin-left: 41.66667%; }
.offset-6-of-12  { margin-left: 50%;       }
.offset-7-of-12  { margin-left: 58.33333%; }
.offset-8-of-12  { margin-left: 66.66667%; }
.offset-9-of-12  { margin-left: 75%;       }
.offset-10-of-12 { margin-left: 83.33333%; }
.offset-11-of-12 { margin-left: 91.66667%; }

.reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}