<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no"> <!-- Disable iOS auto telephone number detection -->
        <title>{% if title %}{{title}} | {% endif %}Website Title</title>
        <link href="{{path.css}}style.min.css" rel="stylesheet" type="text/css">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <h1 class="ha">
            Website Title{% if title %} - {{ title }}{% endif %}
        </h1>

        <section class="site-header">
            <h2 class="ha">
                Site Header
            </h2>

            <div class="wrapper">
                Header here.

                <nav>
                    <h3 class="ha">
                        Navigation
                    </h3>
                </nav>
            </div>
        </section>

        <main class="site-main">
            {% block content %}{% endblock %}
        </main>

        <section class="site-footer">
            <h2 class="ha">
                Site Footer
            </h2>

            <div class="wrapper">
                Footer here.

                <nav>
                    <h3 class="ha">
                        Navigation
                    </h3>
                </nav>
            </div>
        </section>

        <script src="{{path.js}}externals.min.js"></script>
        <script src="{{path.js}}main.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>