/*-----------------------------------------------------------------------------
    Forms
-----------------------------------------------------------------------------*/

.field {
    padding: 0.25em;
    border: 1px solid #ccc;
    outline: 0;
    @include transition(border-color);
    @include placeholders {
        color: #fff;
    }

    &:hover,
    &:focus {
        border-color: #aaa;
    }
}