/*-----------------------------------------------------------------------------
    Icons
-----------------------------------------------------------------------------*/

.icon {
    display: inline-block;
    vertical-align: middle;
}

/*
 * Checkbox/Radio button icons.
 *
 * Markup as follows:
 *
 *      <label>
 *          <input type="checkbox">
 *          <i class="icon  icon--input"></i>
 *          Click me to tick the checkbox.
 *      </label>
 */

.icon--input {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    top: -1px;
    @include transition((background-color, border-color), 0.25s);

    input[disabled] + & {
        background-color: #eee;
    }

    .is-valid + & {
        border-color: #5cb21d;
    }
    .is-invalid + & {
        border-color: #ff8201;
    }

    input[type="radio"] + & {
        border-radius: 50%;
    }

    input[type="checkbox"] + &:before,
    input[type="checkbox"] + &:after,
    input[type="radio"] + &:after {
        content: '';
        background-color: #000;
        position: absolute;
        opacity: 0;
        @include transition(opacity, 0.25s);
    }

    input[type="checkbox"] + & {
        &:before {
            width: 6px;
            height: 3px;
            border-radius: 3px 0 0 3px;
            top: 10px;
            left: 3px;
            transform: rotate(45deg);
        }
        &:after {
            width: 10px;
            height: 3px;
            border-radius: 0 3px 3px 0;
            top: 8px;
            left: 6px;
            transform: rotate(-45deg);
        }
    }

    input[type="checkbox"]:checked + & {
        &:before,
        &:after {
            opacity: 1;
        }
    }

    input[type="radio"] + & {
        &:after {
            width: 6px;
            height: 6px;
            margin: -3px 0 0 -3px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
        }
    }

    input[type="radio"]:checked + &:after {
        opacity: 1;
    }
}
