//-----------------------------------------------------------------------------
//  General Variables
//-----------------------------------------------------------------------------
//
//  $ Colors
//  $ Easings
//  $ Fonts
//  $ Media
//  $ General
//
//-----------------------------------------------------------------------------




//-----------------------------------------------------------------------------
//  $ Colors
//-----------------------------------------------------------------------------

$blue:   #06c;
$black:  #333;




//-----------------------------------------------------------------------------
//  $ Easings
//-----------------------------------------------------------------------------
//  Easings are from http://easings.net/
//-----------------------------------------------------------------------------

$easeOutExpo:  cubic-bezier(0.19, 1, 0.22, 1);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutQuad:  cubic-bezier(0.25, 0.46, 0.45, 0.94);

$easeInQuart:  cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeInQuad:   cubic-bezier(0.55, 0.085, 0.68, 0.53);




//-----------------------------------------------------------------------------
//  $ Fonts
//-----------------------------------------------------------------------------

$font-family-base:   'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-alpha:  'Georgia', #{$font-family-base};




//-----------------------------------------------------------------------------
//  $ Media
//-----------------------------------------------------------------------------

$xs-breakpoint: 480px;
$sm-breakpoint: 640px;
$md-breakpoint: 800px;
$lg-breakpoint: 1024px;

$xs-dn-media: '(max-width: #{$xs-breakpoint})';
$xs-up-media: '(min-width: #{$xs-breakpoint+1px})';
$sm-dn-media: '(max-width: #{$sm-breakpoint})';
$sm-up-media: '(min-width: #{$sm-breakpoint+1px})';
$md-dn-media: '(max-width: #{$md-breakpoint})';
$md-up-media: '(min-width: #{$md-breakpoint+1px})';
$lg-dn-media: '(max-width: #{$lg-breakpoint})';
$lg-up-media: '(min-width: #{$lg-breakpoint+1px})';

$media-queries: (
    xs-dn: $xs-dn-media,
    xs-up: $xs-up-media,
    xs-sm: '#{$xs-up-media} and #{$sm-dn-media}',
    xs-md: '#{$xs-up-media} and #{$md-dn-media}',
    xs-lg: '#{$xs-up-media} and #{$lg-dn-media}',

    sm-dn: $sm-dn-media,
    sm-up: $sm-up-media,
    sm-md: '#{$sm-up-media} and #{$md-dn-media}',
    sm-lg: '#{$sm-up-media} and #{$lg-dn-media}',

    md-dn: $md-dn-media,
    md-up: $md-up-media,
    md-lg: '#{$md-up-media} and #{$lg-dn-media}',

    lg-dn: $lg-dn-media,
    lg-up: $lg-up-media
);




//-----------------------------------------------------------------------------
//  $ General
//-----------------------------------------------------------------------------

$transition-duration: 0.4s;
$transition-easing: $easeOutExpo;